#Obfuscator {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(181, 181, 181);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  padding: 15px;
}
